<header class="mb-4">
    <div class="nav nav-tabs bg-secondary">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/hotels"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/miscellaneous/aboutus">About</a>
        <a class="nav-item nav-link" routerLinkActive="active" *ngIf="!webmaster && auth"
            routerLink="/bookings">Bookings</a>
        <a class="nav-item nav-link" routerLinkActive="active" *ngIf="webmaster" routerLink="/hotels/create">Create</a>
        <div class="auth ml-auto ">
            <button class="btn btn-primary" (click)="onLogin()" *ngIf="!auth && !loadedAuthPage">Login</button>
            <button class="btn btn-danger" (click)="onLogout()" *ngIf="auth">Logout</button>
        </div>
    </div>
</header>

<main>
    <app-loading-spinner class="d-flex justify-content-center align-items-center w-100"
        *ngIf="isLoading"></app-loading-spinner>
    <router-outlet *ngIf="!isLoading"></router-outlet>
</main>

<footer class="bg-secondary border-top d-flex flex-column justify-content-center align-items-center">
    <div>Hotel Booking Project &copy; 2024</div>
    <a routerLink="/miscellaneous/contactus">Contact Us</a>
</footer>