<div class="container">
    <h3 class="display-3 text-center mb-5">
        About Us
    </h3>
    <div class="card mb-4 lead">
        <ul class="list-group">
            <li class="list-group-item">Use user <u>email 'user&#64;gmail.com'</u> and <u>password ‘user1234’</u> to
                test
                out and
                look at various features of the website.</li>
            <li class="list-group-item">Website that allows users to sign up and login to browse and/or book from a
                catalogue of hotels.
            </li>
            <li class="list-group-item">Search bar on the home page allows the user to search hotels by city (eg.
                Gurugram, Noida or Chandigarh).</li>
            <li class="list-group-item">Once logged in the user can book a hotel by selecting a from-date and to-date
                and number of rooms on the hotel details page. Used Reactive Forms to update total amount as the user
                selects these options.</li>
            <li class="list-group-item">Booking can then be completed by making a payment on the checkout page.</li>
            <li class="list-group-item">Users can also view their previous bookings on the bookings page.</li>

        </ul>

    </div>
</div>