<div class="container">
    <h3 class="display-3 text-center mb-5">
        About Us
    </h3>
    <div class="card mb-4 lead text-justify">
        <ul class="list-group">
            <li class="list-group-item">Use user <u>email 'test&#64;test.com' </u> and <u>password ‘tester’</u> to test
                out and
                look at various features of the website.</li>
            <li class="list-group-item">Website that allows users to sign up and login to browse and/or buy from a
                catalogue of electronic
                products
            </li>
            <li class="list-group-item">Search bar on the home page allows the user to search products by name, brand or
                category.</li>
            <li class="list-group-item">Once logged in the user can add or remove products to the cart via the home page
                or the product details
                page.</li>
            <li class="list-group-item">The user can then edit the quantity or remove the product from the cart on the
                cart page.</li>
            <li class="list-group-item">Products added to the cart can be purchased by making a payment on the checkout
                page</li>
            <li class="list-group-item">Users can also view all their previous orders.</li>
            <li class="list-group-item">Provided the webmaster user special privellages to add, edit or delete Products
            </li>
        </ul>

    </div>
</div>